img {
	width: 60%;
	margin: 0 auto 25px auto;
}

#title {
	width: 60%;
	padding-bottom: 10px;
	border-bottom: 5px solid black;
}

 /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%;
	width: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  /* background-color: #f1f1f1; */
  height: 100%;
}

.button {
	background-color: #FF0000;
	border-radius: 15px;
	outline: none;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	font-size: 125%;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0 5px #999;
}

.button:hover {
    background-color: #3e8e41; /* Green */
    color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.button_popup {
	background-color: #FF0000;
	border-radius: 15px;
	outline: none;
	width: 55%;
	border: none;
	color: white;
	text-align: center;
	font-size: 125%;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0 5px #999;
}

.button_popup:hover {
    background-color: #3e8e41; /* Green */
    color: white;
}

.button_popup:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.form_popup {
	margin-left: 20px;
}

input[type=text], select {
	margin: 4px;
	border-radius: 4px;
	color: red;
	font-size: 125%;
}

.col-1 {
	flex-direction: column;
	display: flex;
	width: 40%;
	height: 50%;
	margin-top: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	float: left;
	background-color: ;
}

.col-2 {
	flex-direction: column;
	display: flex;
	width: 40%;
	height: 50%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	float: left;
}

.col-3 {
	flex-direction: column;
	display: flex;
	width: 50%;
	height: 20%;
	margin-left: 25%;
	margin-bottom: 10%;
	float: left;
	background-color: ;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.alert 
{
	padding: 20px;
	background-color: red;
	color: white;
	margin-bottom: 15px;
}

.closebtn
{
	color: white;
	float: right;
	font-size: 22px;
	cursor: pointer;
	transition: 0.3s;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}



/*styleing for popup boxs*/
#display_popup
{
 font-size:20px;
 cursor:pointer;
}
#email_box
{
 visibility:hidden;
 display:none;
 width:30%;
 background-color:#BDBDBD;
 position:fixed;
 left:35%;
 top:30%;
 border-radius:10px;
 border:2px solid grey;
 box-shadow:0px 0px 10px 0px grey;
 font-family:helvetica;
}
#email_box .cancel_button /*#email_alert*/
{
 float:right;
 margin-top:4px;
 margin-bottom:4px;
 margin-right:5px;
 background-color:grey;
 border:none;
 color:white;
 padding:5px;
 border-radius:1000px;
 width:25px;
 border:1px solid #424242;
 box-shadow:0px 0px 10px 0px grey;
 cursor:pointer;
}
#email_box #info_text
{
 padding:10px;
 clear:both;
 background-color:white;
 color:#6E6E6E;
}
#email_box .close_button
{
 margin:0px;
 padding:0px;
 width:70px;
 height:30px;
 line-height:30px;
 font-size:16px;
 background-color:grey;
 color:white;
 border:none;
 margin-bottom:10px;
 border-radius:2px;
 cursor:pointer;
}