body {
  background-color: #ff0000;
}

/*img {
	width: 60%;
	margin: 0 auto 25px auto;
}*/

#title {
	width: 60%;
	padding-bottom: 10px;
	border-bottom: 5px solid black;
}

 /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%;
	width: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  /* background-color: #f1f1f1; */
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 15px;
  margin-top: 80px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}*/

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 5px 0 10px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}

.button {
	background-color: black;
	border-radius: 2px;
	outline: none;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	font-size: 125%;
	margin: 10px;
	cursor: pointer;
}

.button:hover {
    background-color: white; 
    color: black;
}

.button:active {
  background-color: white;
  transform: translateY(4px);
}

.button_popup {
	background-color: black;
	border-radius: 2px;
	outline: none;
	width: 60%;
	border: none;
	color: white;
	text-align: center;
	font-size: 125%;
	margin: 10px;
	cursor: pointer;
}

.button_popup:hover {
    background-color: red;
    color: black;
}

.button_popup:active {
  background-color: red;
  transform: translateY(4px);
}

.form_popup {
	margin-left: 20px;
}

input[type=text], select {
	margin: 4px;
	color: black;
	font-size: 125%;
}

.col-1 {
	flex-direction: column;
	display: flex;
	width: 40%;
	height: 50%;
	margin-top: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	float: left;
	background-color: ;
}

.col-2 {
	flex-direction: column;
	display: flex;
	width: 40%;
	height: 50%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
	float: left;
}

.col-3 {
	flex-direction: column;
	display: flex;
	width: 50%;
	height: 20%;
	margin-left: 25%;
	margin-bottom: 10%;
	float: left;
	background-color: ;
}





/*styleing for popup boxs*/
#display_popup
{
 font-size:20px;
 cursor:pointer;
}
.popup/*, #user_box*/
{
 visibility:hidden;
 display:none;
 width:30%;
 background-color:white;
 position:fixed;
 left:35%;
 top:30%;
 border-radius:2px;
 /*border:2px solid black;*/
 /*box-shadow:0px 0px 10px 0px grey;*/
 font-family:helvetica;
}
.popup .cancel_button /*#email_alert*/
{
 float:right;
 margin-top:4px;
 margin-bottom:4px;
 margin-right:5px;
 background-color:black;
 border:none;
 color:white;
 padding:5px;
 border-radius:2px;
 width:25px;
 /*border:1px solid black;*/
 /*box-shadow:0px 0px 10px 0px grey;*/
 cursor:pointer;
}

.popup .close_button
{
 margin:0px;
 padding:0px;
 width:70px;
 height:30px;
 line-height:30px;
 font-size:16px;
 background-color:black;
 color:white;
 border:none;
 margin-bottom:10px;
 border-radius:2px;
 cursor:pointer;
}

.close_button:hover {
    background-color: red;
    color: black;
}

.close_button:active {
  background-color: red;
  transform: translateY(4px);
}

.cancel_button:hover {
    background-color: red;
    color: black;
}

.cancel_button:active {
  background-color: red;
  transform: translateY(4px);
}

.disabled {
	background-color: black;
	border-radius: 2px;
	outline: none;
	width: 100%;
	border: none;
	color: white;
	text-align: center;
	font-size: 125%;
	margin: 10px;
	cursor: pointer;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}